@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  .map
    position absolute
    top 0px
    left 0px
    bottom 0px
    width 50%
    &#map-1
      left 50%
    .slaveMarker
      width 16px
      height 16px
      border-radius 50%
      border 3px solid black
      background white
      opacity 0.5

